<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Dear ${applicant.firstName} ${applicant.lastName},
</p>

<p>
    Applicant ID: ${applicant.applicationId}
</p>
<p>
We received a request to reset the password for your account. If you made this request, please click the following button:</p>
</p>
<br>
<span style="font-family:arial,sans-serif">
<a href="${resetLink}" style="text-align:center;font-size:11px;font-family:arial,sans-serif;color:white;background-color:rgb(11,198,160);text-decoration:none;display:inline-block;min-height:27px;padding-left:8px;padding-right:8px;line-height:27px;border-radius:2px;border-width:1px" target="_blank" data-saferedirecturl="${resetLink}">
<span style="background-color:rgb(11,198,160);color:white">
<span class="m_-6801813250965721804gmail-il">Reset</span>
<span class="m_-6801813250965721804gmail-il">Password</span>
</span>
</span>
</p> 
                                            <p>Or</p>
<p>Open the following link in your browser:</p>

    <a href="${resetLink}">${resetLink}</a>
   
  <p>The password reset link is valid till ${expiryDate}</p>
  
  <p>If you didn't raise this request, please ignore this email.</p>
</p>


<p>
    <span>Warm Regards, </span>
    <br/>
    <br/>
    Recruitment Cell
    <br/>
    MSRTC
</p>

</body>
</html>
