<!DOCTYPE html>
<html>
<head>
    <title>Successful Payment Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Hello ${applicant.firstName} ${applicant.lastName},
</p>

<p>Your payment has been processed. Here are the details of the transaction for your reference.</p>
<p>Your MSRTC Applicant ID : ${applicant.applicationId} </p>
<p>Your MSRTC Registered Email Id : ${applicant.emailAddress} </p>
<p>Your MSRTC registered Mobile Number : ${applicant.mobileNumber} </p>
<p>Transaction ID : ${paymentTransactionResponse.orderNo} </p>
<p>Transaction Reference No: ${paymentTransactionResponse.txnReferenceNo} </p>
<p>Transaction Amount : ₹ ${paymentTransactionResponse.txnAmount} </p>

<p>This is a system generated mail. Please do not reply to this email ID. </p>

<p>
    <span>Warm Regards, </span>
    <br/>
    <br/>
    Recruitment Cell
    <br/>
    MSRTC
</p>

</body>
</html>
